<p id="notice"><%= notice %></p>

<div class='parent grid-parent'>
  <div class='child'>
    <h1 class="email_title_big">Emails</h1>

      <div class="links">
        <%= button_to 'Receive a new Email', { action: "create" }, remote: true %>
      </div>

      <div id="emails_wrapper">
      <% @emails.each do |email| %>
        <%= render "email_index", email: email%>
      <% end %>
      </div>
  </div>
  <div class='child'>
    <h1 class="email_title_big">What's it say ?</h1>
    <div id="email-display">
    </div>
  </div>
</div>

