<p id="notice"><%= notice %></p>

<div id="emails_wrapper">
  <%= render "email" %>
</div>

<%= link_to 'Delete', @email, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', emails_path %>
